
/*
  variables that we can use in our notes app
  within components so we don't have to use hex code
  everywhere.
*/

$light-primary: #BBDEFB;
$dark-primary: #1976D2;
$primary: #2196F3;
$icon-color: #FFFFFF;
$accent: #607D8B;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #BDBDBD;
