@import '../../styles/_variables';
@import '../../styles/_cust-elements';

:host{
  background: $dark-primary;
  color: $icon-color;
  .notes-header{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    .left-content{
      flex: 1;
    }
    .right-content{
      justify-self: flex-end;
      height: 32px;
    }
  }
}
